.tile {
  background: url(https://raw.githubusercontent.com/LenaAn/lenaan.github.io/master/img/flatcat.png);
  width: 230px;
  height: 230px;
  position: absolute;
  left: 50%;
  top: 50%;
}


.scoreBox {
	background: red;
	float: left;
	text-align: right;

	padding: 15px 25px;
	font-size: 50px;
	height: 50px;
	line-height: 50px + 22px;
	font-weight: bold;
	color: white;
}

.catIsGone {
	background: red;
	float: left;
	text-align: center;
	margin-top: 20%;

	padding: 15px 25px;
	font-size: 50px;
	height: 100px;
	line-height: 50px + 22px;
	font-weight: bold;
	color: white;
}