.tile {
  width: 200px;
  height: 286px;
  position: absolute;
  left: 50%;
  top: 50%;
}

.cat-gone-message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  color: red;
}
